* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* .header{
    width:100%;
    height:60px;
    background-color:#CB2D6F;
    background-color:rgb(121, 167, 228);
    margin-bottom: 15px;
} */
.formContainer {
  width: 700px;
  background-color: #f3f3f5;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.70);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.70);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.70);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px auto 50px;
  padding: 20px;
  box-sizing: border-box;
}
label{
    font-size: 18px;
    font-weight: 500;
}
#name{
    width:250px ;
}
#title{
    width:650px ;    
}
#content{
    width: 650px;
    height: 220px;    
    font-size: 17px;
    padding:10px;
    box-sizing: border-box;
    margin: 15px;
}
#category{
    width: 250px;
}
#image{
    width:650px ;

}

/* #add-button{
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgb(207, 202, 202);
    border-radius: 10px;
    margin:10px;
    
} */
.button-list{
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    box-sizing: border-box;
    /* background-color: rgb(207, 202, 202); */
    border-radius: 10px;
    margin:10px;

}
#name,#title,#image,#category{
    padding: 5px;
    box-sizing: border-box;
    margin:15px;
    font-size: 17px;
}

