.app{
    background-color: rgb(247, 214, 229);
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;

}
.quote{
    width: 700px;
    margin: auto;   

}