.app {
  /* background-color: rgb(247, 214, 229); */
  background-color: #f9f9fa;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

  /* height: 200px; */
  /* text-align: center; */
  margin-bottom: 50px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-top: -12px;
}
.admin {
  /* height: 30px; */
  border: 1px solid rgb(207, 202, 202);
  border-radius: 4px;
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(141, 136, 136);
  position: absolute;
  right: 10px;
}

.quote-add-container {
  /* text-align: center; */
  /* margin: auto;    */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* padding: 10px; */
  /* box-sizing: border-box; */
}
.quote-container {
  width: 1000px;
  margin-bottom: 30px;
  text-align: center;
}
#quote {
  font-size: 18px;
}

#add {
  /* margin: 10px auto; */
  font-size: 20px;
  padding: 8px;
  box-sizing: border-box;
  background-color: rgb(186, 229, 215);
  border-radius: 5px;
}
#search {
  width: 22%;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(218, 211, 211);
  text-align: center;
  font-size: 20px;
  margin-left: 1300px;
  /* margin-top:-30px */
  /* float: right; */
  
}
