.app {
  /* background-color: rgb(247, 214, 229); */
  background-color: #f9f9fa;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

  /* height: 200px; */
  /* text-align: center; */
  margin-bottom: 50px;
  padding-top: 30px;
  box-sizing: border-box;
  margin-top: -12px;
}
.admin {
  /* height: 30px; */
  border: 1px solid rgb(182, 177, 177);
  border-radius: 4px;
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(141, 136, 136);
  position: absolute;
  right: -10px;
  top: 20px;
}

.quote-add-container {
  /* text-align: center; */
  /* margin: auto;    */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px; */
  /* padding: 10px; */
  /* box-sizing: border-box; */
  /* margin-bottom: -40px; */
}
.quote-container {
  width: 1050px;
  height:100px ;
  /* margin-bottom: 30px; */
  /* text-align: center; */
  background-color: white;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.18);
  padding:15px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#quote {
  display:block;
  font-size: 22px;
}
#quote-author{
  float: right;
}

#add {
  /* margin: 10px auto; */
  font-size: 20px;
  /* padding: 8px; */
  box-sizing: border-box;
  /* background-color: rgb(186, 229, 215); */
  /* background-color:rgb(240, 186, 208); */
  background-color:rgb(161, 196, 241);
  border-radius: 5px;
}
#add:hover{
  background-color:gray;
  color: white;
}
.admin:hover{
  background-color:gray;
  color: white;
}
#search {
  width: 22%;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(218, 211, 211);
  text-align: center;
  font-size: 20px;
  margin-left: 1310px;
  /* margin-top:-30px */
  /* float: right; */
  
}
